* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: black;
}
.overlay {
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.22);
}
.container {
  max-width: 800px;
  margin: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
}

.section{
  width: 100%;
  border-radius: 0.3 rem;
  padding: 1rem;
  color: white;
}
.section-inputs {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
}

.section-temperature{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
  margin-bottom: 95px;
}

.section-inputs>input{
  border: 0.7px solid white;
  border-radius: 1.7rem;
  background-color: transparent;
  font-size: 23px;
  font-weight: 200;
  padding: 0.6rem;
  color: white; 
 }

.section-inputs>button{
  padding: 10px 50px;
  border: none;
  border-radius: 0.4rem;
  font-size: 20px;
  font-weight: 500;
} 

.section-inputs>button:hover{
  cursor: pointer;
  background-color: rgb(131, 108, 4);
  color: white;
} 

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.icon>h4{
  font-size: 15px;
  font-weight: 210;
  text-transform: capitalize;
}

.icon>img{
  width: 50px;
}

.temperature>h1{
  font-size: 60px;
}
.section-desc{
  margin-bottom: 99px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 0.75rem;
}

.card-data{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.card-data>small{
  text-transform: capitalize;
}

@media screen and (max-width: 1025px){
  .section-desc{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 440px){
  .section-desc{
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 550px ){
  .section-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
  }
  
}